$bg: rgb(7, 14, 14);

.tino-titlebar {
  height: 40px;
  background-color: $bg;

  .tino-titlebar__content {
    max-width: calc(100% - 200px);
  }

  .tino-titlebar__btns {
    -webkit-app-region: no-drag;
    justify-items: end;

    div {
      width: 60px;
      text-align: center;
      line-height: 40px;
      color: #333;
      background-color: $bg;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        background-color: rgb(208, 208, 208);
      }

      &.tino-titlebar__btns_close:hover {
        color: #fff;
        background-color: rgb(212, 17, 35);
      }
    }
  }
}